

<div class="container">
  <div ui-view="container"></div>
</div>

   <div class="container">

       <h3>Registrazione Normale</h3>
       <span>Se sei di SAN MARINO come codice censimento metti SANMARINO tutto attaccato!</span>
       <form action="<?=$baseUrl?>index.php/api/registrazione/step1" method="post">
           Email: <input type="text" name="email" />
           Codice Censimento: <input type="text" name="codicecensimento" />
           <input type="submit" value="Richiedi Registrazione" />
       </form>

       <h3>Completamento Registrazione di <?=$nome?> <?=$cognome?></h3>
       <form action="<?=$baseUrl?>index.php/api/registrazione/step2/123" method="post">
           Nome Capo Reparto: <input type="text" name="ccnome" value="<?=$ccnome?>" />  <br />
           Cognome Capo Reparto: <input type="text" name="cccognome" value="<?=$cccognome?>"/>  <br />
           Email Capo Reparto: <input type="text" name="ccemail" value="<?=$ccemail?>" />  <br />
           Nome Squadriglia: <input type="text" name="nomesquadriglia" value="Aquile" />  <br />

           Ruolo in Squadriglia:

           <select name="ruolosquadriglia">
               <option value="0">Altro</option>
               <option value="1" selected="selected">Capo Sq.</option>
               <option value="2">Vice capo Sq.</option>
           </select>

           <br />

           Componenti Squadriglia: <input type="text" name="ncomponenti" />  <br />
           Specialita Squadriglia: <input type="text" name="nspecialita" />  <br />
           Brevetti Squadriglia: <input type="text" name="nbrevetti" />  <br />
           <input type="checkbox" name="specsq" value="conquista" />Specialita di Squadriglia <br />
           <input type="checkbox" name="specsq" value="rinnovo" />Rinnovato specialita di Squadriglia <br />

           <input type="submit" value="Completa Registrazione" />
       </form>

   </div>


</body>
</html>