<div class="col-md-4" ng-controller="ChiusuraController">

    <iframe src="sink.html" name="sink" style="display:none"></iframe>

	<form class="form-reg" role="form" name="chiusuraForm" ng-submit="chiudi()" form-autofill-fix>

		<legend>Chiusura Sfida</legend>
		<h4>{{sfida.titolo}}</h4>

		<!-- Text input-->
		<div class="form-group">
			<label class="control-label" for="numerosquadriglieri">Numero componenti squadriglia</label>
			<div class="controls">
				<input id="numerosquadriglieri" name="numerosquadriglieri" ng-change="update()" placeholder="0" class="form-control input-sm" required type="number" min="1" ng-model="squadriglia.componenti">
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="control-label" for="protagonisti">Numero squadriglieri che si sono sentiti protagonisti</label>
			<div class="controls">
				<input id="protagonisti" name="protagonisti" ng-change="update()" placeholder="0" class="form-control input-sm" required type="number" min="1" ng-model="risultato.protagonisti">
			</div>
		</div>


		<div ng-if="abilitaSpecBrev()">
			
			<!-- Text input-->
			<div class="form-group">
				<label class="control-label" for="nuovespecialita">Numero totale Specialit&agrave; conquistate</label>
				<div class="controls">
					<input id="nuovespecialita" name="nuovespecialita" ng-change="update()" placeholder="0" class="form-control input-sm" required type="number" min="0" ng-model="risultato.nuovespecialita">
				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="control-label" for="nuovibrevetti">Numero totale Brevetti conquistati</label>
				<div class="controls">
					<input id="nuovibrevetti" name="nuovibrevetti" ng-change="update()" placeholder="0" class="form-control input-sm" required type="number" min="0" ng-model="risultato.nuovibrevetti">
				</div>
			</div>

		</div>


		<div ng-if="abilitaAutovalutazione()">

			<!-- Text input-->
			<div class="form-group">
				<label class="control-label" for="autovalutazione">Come valutate la missione ricevuta in base alle vostre aspettative</label>
				<div class="controls">
					<select id="autovalutazione" ng-change="updateSfida()" ng-model="risultato.autovalutazione" required ng-options="r for r in possibiliAutovalutazioni"></select>
				</div>
			</div>

		</div>

		<!-- Checkbox input-->
		<div class="form-group">
			<label class="control-label" for="provasuperata_true">Ritengo di aver superato la sfida</label>
			<div class="controls">
				<!--<input id="provasuperata" type="checkbox" ng-model="risultato.provasuperata" ng-change="update()">-->
				<input id="provasuperata_true" type="radio" ng-model="risultato.provasuperata" ng-change="update()" value="true"> Prova superata
				<br/>
				<input id="provasuperata_false" type="radio" ng-model="risultato.provasuperata" ng-change="update()" value="false"> Prova NON superata
			</div>
		</div>

		<h3>
			Punteggio Totale:
			<!-- criterio raggiungimento diverso colore diverso del punteggio totale... -->
			<span class="label" ng-class="valutaSuccesso">
	    		{{risultato.punteggiosquadriglia}} / {{iscr.obiettivo}}
			</span>
		</h3>

		<button class="btn btn-lg btn-primary btn-block" ng-disabled="!enableButton" type="submit" ng-show="risultato.punteggiosquadriglia > 0" class="animate-if">Conferma</button>

	</form>
</div>

<div class="col-md-8">
   <legend>Help in linea</legend>
   <p>Inserisci/Modifica tutti i dati richiesti per completare la richiesta di termine sfida</p>

    <div class="alert alert-info" role="alert">
        <p> IMPORTANTE : quando premerai CONFERMA verrai portato/a in una pagina in cui inserire: 
	        <ol>
	        	<li>Cosa abbiamo fatto (edit box)</li>
	        	<li>Caricare foto e video attraverso la Media Library</li>
	        </ol>
        </p>
    </div>

   <p>In caso di problemi invia una mail al seguente indirizzo <a href="mail:iscrizioni.rtd@agesci.it">iscrizioni.rtd - at - agesci.it</a> </p>
</div>