<div class="col-md-4" ng-controller="SfideController">

	<div ng-if="isReady()">

		<div ng-if="!isSfidaSpeciale()">

            <legend>Iscrizione Grande Sfida</legend>
            <h4>{{sfida.titolo}}</h4>

		   <div ng-switch="step">
		      <div ng-switch-when="1">
		         <div ng-include src="'app/Sfide/_step1.html'"></div>
		      </div>
		      <div ng-switch-when="2">
		         <div ng-include src="'app/Sfide/_step2.html'"></div>
		      </div>
		   </div>

		</div>
		<div ng-if="isSfidaSpeciale()">

            <legend>Iscrizione Sfida Speciale</legend>
            <h4>{{sfida.titolo}}</h4>

            <div ng-switch="step">
                <div ng-switch-when="1">
                    <div ng-include src="'app/Sfide/_stepSpeciale.html'"></div>
                </div>
            </div>
		</div>

	</div>

</div>

<div class="col-md-8">
   <legend>Help in linea</legend>
   <p>Inserisci/Modifica tutti i dati richiesti per completare la registrazione</p>

    <div class="alert alert-info" role="alert">
        <p> IMPORTANTE </p>
    </div>

   <p>In caso di problemi invia una mail al seguente indirizzo <a href="mail:iscrizioni.rtd@agesci.it">iscrizioni.rtd - at - agesci.it</a> </p>
</div>
