
<iframe src="sink.html" name="sink" style="display:none"></iframe>

<form class="form-reg" role="form" name="iscrizioneForm" ng-submit="partecipa()" form-autofill-fix>

    <label>Categoria: {{sfida.categoria.desc}}</label>

    <!-- Select input-->
    <div class="form-group">
        <label class="control-label" for="tipo">Tipo : Missione</label>
        <div class="controls">
            <input id="tipo" type="hidden" ng-model="iscr.tipo" value="missione">
        </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
        <label class="control-label" for="numerosquadriglieri">Numero componenti squadriglia</label>
        <div class="controls">
            <input id="numerosquadriglieri" name="numerosquadriglieri" ng-change="update()" placeholder="8" class="form-control input-sm" required type="number" min="1" ng-model="squadriglia.componenti">
        </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
        <label class="control-label" for="specialitasquadriglieri">Numero totale Specialit&agrave; possedute dalla Sq</label>
        <div class="controls">
            <input id="specialitasquadriglieri" name="specialitasquadriglieri" ng-change="update()" placeholder="8" class="form-control input-sm" required type="number" min="0" ng-model="squadriglia.specialita">
        </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
        <label class="control-label" for="brevettisquadriglieri">Numero totale Brevetti posseduti dalla Sq</label>
        <div class="controls">
            <input id="brevettisquadriglieri" name="brevettisquadriglieri" ng-change="update()" placeholder="8" class="form-control input-sm" required type="number" min="0" ng-model="squadriglia.brevetti">
        </div>
    </div>

    <!--&lt;!&ndash; Select input&ndash;&gt;-->
    <!--<div class="form-group">-->
        <!--<label class="control-label" for="categoriaSfida">Categoria</label>-->
        <!--<div class="controls">-->
            <!--<select id="categoriaSfida" name="categoriaSfida" ng-model="iscr.categoriaSfida" required ng-options="r.desc for r in categoriaMissione"></select>-->
        <!--</div>-->
    <!--</div>-->

    <div class="form-group">
        <label class="control-label" for="numeroprotagonisti">Pensiamo che durante la sfida saranno protagonisti questo numero di squadriglieri</label>
        <div class="controls">
            <input id="numeroprotagonisti" min="1" name="numeroprotagonisti" ng-change="update()" placeholder="8" class="form-control input-sm" required type="number" ng-model="iscr.numeroprotagonisti">
        </div>
    </div>

    <h3>
        Punteggio Totale:
			<span class="label label-info">
	    		{{iscr.punteggiosquadriglia}}
			</span>
    </h3>

    <button class="btn btn-lg btn-success btn-block" ng-disabled="!enableButton" type="submit" ng-show="iscr.punteggiosquadriglia > 0" class="animate-if">Partecipa</button>

</form>